@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-900: #42307d;
  --color-primary-800: #53389E;
  --color-primary-700: #6941C6;
  --color-primary-600: #7F56D9;
  --color-primary-500: #9E77ED;
  --color-primary-400: #B692F6;
  --color-primary-300: #D6BBFB;
  --color-primary-200: #E9D7FE;
  --color-primary-100: #F4EBFF;
  --color-primary-50:  #F9F5FF;
  --color-primary-25: #FCFAFF;
  --color-error: #F04438;
  --color-warning: #F79009;
  --color-caution: #FEC848;
  --color-success-500: #12B76A;
  --color-success-600: #039855;
  --color-grey-900: #101828;
  --color-grey-800: #252B37;
  --color-grey-700: #414651;
  --color-grey-600: #535862;
  --color-grey-500: #717680;
  --color-grey-400: #A4A7AE;
  --color-grey-300: #D5D7DA;
  --color-grey-200: #E9EAEB;
  --color-grey-100: #f5f5f5;
  --color-grey-50:  #FAFAFA;
  --color-grey-25: #FDFDFD;
  --color-button-25: #FCFCFD;
  --color-button-50: #F8F9FC;
  --color-button-100: #EAECF5;
  --gradient-primary-600: conic-gradient(from 259.08deg at 50% 50%, #7F56D9 0deg, rgba(127, 86, 217, 0) 360deg);
  --gradient-primary-500: linear-gradient(90deg, #7F56D9 0%, #9E77ED 100%);
  --gradient-primary-700: linear-gradient(45deg, #6941C6 0%, #7F56D9 100%);


}

 h1 {
    @apply font-bold leading-tight tracking-tight text-balance text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  h2 {
    @apply font-semibold leading-tight tracking-tight text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply font-semibold leading-snug tracking-tight text-xl sm:text-2xl md:text-3xl;
  }

  h4 {
    @apply font-medium leading-snug tracking-tight text-lg sm:text-xl md:text-2xl;
  }

  h5 {
    @apply font-medium leading-snug tracking-tight text-base sm:text-lg;
  }

  h6 {
    @apply font-medium leading-snug tracking-tight text-sm sm:text-base;
  }

  p {
    @apply text-base sm:text-lg leading-relaxed tracking-normal;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Use Public Sans for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-public-sans), var(--font-inter), Arial, Helvetica, sans-serif;
}
